## What is Execution Flow in Python?

In [125]:
# Program Runs Line By Line so 2nd line here gives an error and 3rd line never returns
greet: str = "Hello, Sir Qasim"
some_random_variable
print(greet)

NameError: name 'some_random_variable' is not defined

In [124]:
greet: str = "Hello, Sir Qasim"
print(greet)

Hello, Sir Qasim

## If Statements

In [32]:
sir_zia_age: int = 23
sir_qasim_age: int = 19

# Who is Younger - Are Sir Zia Younger?

if sir_zia_age < sir_qasim_age:
  print("True, Sir Zia are Younger than Sir Qasim", )
elif sir_zia_age == sir_qasim_age:
  print("Equal")
else:
  print("False, Sir Zia are Older than Sir Qasim")

False, Sir Zia are Older than Sir Qasim

In [9]:
# Option2: Comprehensive Style
print("True, Indeed") if sir_zia_age < sir_qasim_age else print("False")

True, Indeed

## Functions in Python

In [43]:
# Define a Simple Function
def greet():
  hello = "Hello"
  return hello

In [45]:
answer = greet()
print(answer, "2ndPrint")

Hello 2ndPrint

In [46]:
print("Learning Func")

Learning Func

In [49]:
# Parameters
def greet(name: str):
  hello = f"Hello {name}"
  return hello

In [52]:
# Pass Arguments
val1 = greet("Sir Ameen")
print(val1)
print(greet("Sir Qasim"))
print(greet("Sir Zia"))

Hello Sir Ameen
Hello Sir Qasim
Hello Sir Zia

In [53]:
def add(x: int, y: int)-> int:
  return x + y

In [54]:
add(2, 2)

4

In [94]:
# Add all Values Passed
# *nums = Variable Positional Arguments
def add_all(*nums: int) -> int:
  return sum(nums)

In [67]:
add_all(3000, 4300, 5900)

(3000, 4300, 5900)

13200

In [71]:
def apply_discount(price: int, discount: float = 10):
  return price - (price * discount / 100)

In [73]:
apply_discount(13200, 100)

0.0

## Creating a Shopping Mall Checkout Price Finder Example

In [76]:
# Total Discounted Price
total_price = add_all(3000, 4300, 5900)
discount_given = 50

apply_discount(total_price, discount_given)

(3000, 4300, 5900)

6600.0

In [80]:
def apply_discount(price: int):

  discount: float = 0
  print("Initial Discount", discount)
  if price <= 10000:
    print("Block1")
    discount = 10
  elif price <= 50000:
    print("Block2")
    discount = 30
  else:
    print("Block3")
    discount = 50

  print("Final Applicable Discount", discount)
  return price - (price * discount / 100)

In [83]:
# Total Discounted Price
total_price = add_all(300, 5900)
apply_discount(total_price)

(300, 5900)
Initial Discount 0
Block1
Final Applicable Discount 10

5580.0

In [85]:
# Calculate Tax
def calculate_tax(gross_total: int, tax: float = 17) -> float:
  return gross_total + (gross_total * tax / 100)

In [86]:
calculate_tax(13200)

15444.0

In [88]:
# Total Shopping Price
# Apply Discount Based on Total Price
# Apply GST

total_price = add_all(30000, 4300, 5900)
print("\nTotal Price", total_price)

gross_total = apply_discount(total_price)
print("\nGross Total", gross_total)

net_total = calculate_tax(gross_total)
print("\nNet Total", net_total)

(30000, 4300, 5900)

Total Price 40200
Initial Discount 0
Block2
Final Applicable Discount 30

Gross Total 28140.0

Net Total 32923.8

In [101]:
def add_all(*nums: int) -> int:
  return sum(nums)

def checkout(*nums: int) -> int:
  total_price = add_all(*nums)

  gross_total = apply_discount(total_price)

  net_total = calculate_tax(gross_total)

  return net_total

In [103]:
checkout(100000, 4000, 400)

Initial Discount 0
Block3
Final Applicable Discount 50

61074.0

## Understanding Arguments

In [104]:
def register_company(name: str, password: str) -> None:
  print(name, password)

In [107]:
# Positional Argument
register_company("Qasim", "123")
# Keyword Argument
register_company(password="123", name="Qasim")

Qasim 123
Qasim 123

In [111]:
def register_company(name: str, password: str, *directors: str) -> None:
  print("Basic Info",name, password)
  print("Directors")
  for director in directors:
    print(director)

register_company("PIAIC", "Pass", "Sir Zia", "Sir Qasim", "Sir Ameen", "Sir Imran")

Basic Info PIAIC Pass
Directors
Sir Zia
Sir Qasim
Sir Ameen
Sir Imran

In [119]:
# *directors = Valye
# **directors = Key, Value

def register_company(name: str, password: str, *directors: str, **offices: dict) -> None:
  print(offices)
  print("Basic Info",name, password)
  print("Directors")
  for director in directors:
    print(director)
  print("Offices")
  for key, value in offices.items():
    print(key, value)

register_company("PIAIC", "Pass", "Sir Zia", "Sir Qasim", "UIT", lhr_institute_name="UMT", uae_offic="UAE")

{'lhr_institute_name': 'UMT', 'uae_offic': 'UAE'}
Basic Info PIAIC Pass
Directors
Sir Zia
Sir Qasim
UIT
Offices
lhr_institute_name UMT
uae_offic UAE

In [121]:
# You can take any valid data type in Arguments
def greet(user_details: dict) -> None:
  print( f"Hello", user_details)
  return

greet_return = greet({"name": "Muhammad"})

Hello {'name': 'Muhammad'}

In [122]:
greet_return

In [24]:
def compare_age(student_age: int, name: str) -> bool:
  # Body
  result: bool = True if sir_zia_age >= student_age else False
  # Body End
  return result

In [25]:
comparision_result = compare_age(student_age=19, name="Khurrum")

In [26]:
print(comparision_result)

False

In [19]:
compare_age(91, "babar")
compare_age(91, "babar")

True babar is older than Sir Zia